{{>partials/header}}


 <div class="columns is-flex is-justify-content-center mt-4">
        <div class="column is-3   ">
            <div class="card  ">
                <div class="card-image">
                    <figure class="image is-5by4">
                        <img src="/images/NEY.jpg" alt="Neymar" />
                    </figure>
                </div>
                <div class="card-content">
                    <div class="media">
                        <div class="media-left">
                            <figure class="image is-32x32px">
                                <img />
                            </figure>
                        </div>
                        <div class="media-content">
                            <p class="title is-4 is-flex is-justify-content-center">Neymar</p>
                        </div>
                    </div>

                    <div class="content">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio quibusdam vitae voluptatum
                        consectetur suscipit earum mollitia laudantium commodi minus enim, et facere doloremque culpa
                        nostrum sapiente, maxime unde. Cumque, eum.
                        <br />
                    </div>
                </div>
            </div>
        </div>
    </div>


{{>partials/footer}}